<%- include('includes/head.ejs') %>

<h2>Login</h2>
<% if (mensaje.length > 0) { %>
  <p style="color: red;"><%= mensaje[0] %></p>
<% } %>

<form action="/login" method="POST">
  <input type="text" name="usuario" placeholder="Nombre de usuario" required>
  <button type="submit">Iniciar sesion</button>
</form>

<%- include('includes/footer.ejs') %>
