<%- include('includes/head.ejs') %>

<h1><%= titulo %></h1>

<a href="/">Inicio</a> |
<a href="/general/info">Info</a> |
<a href="/general/about">About</a> |
<a href="/general/contacto">Contacto</a>

<%- include('includes/footer.ejs') %>
